<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginValidate</servlet-name>
        <servlet-class>conexion.LoginValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroValidate</servlet-name>
        <servlet-class>registro.RegistroValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroValidat</servlet-name>
        <servlet-class>registro.RegistroValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroVali</servlet-name>
        <servlet-class>registro.RegistroVali</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>registroU.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insertar</servlet-name>
        <servlet-class>Servlet.Insertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta</servlet-name>
        <servlet-class>control.alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>Expedientes.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaPacientes</servlet-name>
        <servlet-class>Servlets.ServletListaPacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dietas_registro</servlet-name>
        <servlet-class>Expedientes.dietas_registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DIETA</servlet-name>
        <servlet-class>Expedientes.DIETA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Expedientes.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorValidar</servlet-name>
        <servlet-class>Expedientes.ControladorValidar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>Expedientes.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_desayuno</servlet-name>
        <servlet-class>Expedientes.update_desayuno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_expediente_1</servlet-name>
        <servlet-class>Expedientes.update_expediente_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar_metas</servlet-name>
        <servlet-class>Expedientes.registrar_metas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_metas</servlet-name>
        <servlet-class>Expedientes.update_metas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensajes_Paciente_Nutriologo</servlet-name>
        <servlet-class>Expedientes.Mensajes_Paciente_Nutriologo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensaje_Nutriologo</servlet-name>
        <servlet-class>Expedientes.Mensaje_Nutriologo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Marcar_Leido_Nutriologo</servlet-name>
        <servlet-class>Expedientes.Update_Marcar_Leido_Nutriologo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_nutriologo_leido</servlet-name>
        <servlet-class>Expedientes.update_nutriologo_leido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leido_Paciente_E</servlet-name>
        <servlet-class>Expedientes.Leido_Paciente_E</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidate</servlet-name>
        <url-pattern>/LoginValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroValidate</servlet-name>
        <url-pattern>/RegistroValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroValidat</servlet-name>
        <url-pattern>/RegistroValidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroVali</servlet-name>
        <url-pattern>/RegistroVali</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insertar</servlet-name>
        <url-pattern>/Insertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta</servlet-name>
        <url-pattern>/alta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaPacientes</servlet-name>
        <url-pattern>/ServletListaPacientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dietas_registro</servlet-name>
        <url-pattern>/dietas_registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DIETA</servlet-name>
        <url-pattern>/DIETA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorValidar</servlet-name>
        <url-pattern>/ControladorValidar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_desayuno</servlet-name>
        <url-pattern>/update_desayuno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_expediente_1</servlet-name>
        <url-pattern>/update_expediente_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar_metas</servlet-name>
        <url-pattern>/registrar_metas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_metas</servlet-name>
        <url-pattern>/update_metas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensajes_Paciente_Nutriologo</servlet-name>
        <url-pattern>/Mensajes_Paciente_Nutriologo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensaje_Nutriologo</servlet-name>
        <url-pattern>/Mensaje_Nutriologo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Marcar_Leido_Nutriologo</servlet-name>
        <url-pattern>/Update_Marcar_Leido_Nutriologo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_nutriologo_leido</servlet-name>
        <url-pattern>/update_nutriologo_leido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leido_Paciente_E</servlet-name>
        <url-pattern>/Leido_Paciente_E</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
